:root {
  --color-primary: #757575;
  --main-color: #212121;
  --color-brand: #2196f3;
  --color-background: #ffffff;
  --color-background-secondary: #2f303a;
  --color-white: #ffffff;

  --indent: 30px;
  --items: 3;
}

body {
  color: var(--color-primary);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

/* base styles */

.section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.primary-button {
  color: var(--color-white);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  background-color: var(--color-brand);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
}

/* grids */

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-item {
  flex-basis: calc((100% - var(--ind`ent) * (var(--items) - 1)) / var(--items));
}

/* header */

.header {
  border: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 93px;
}

.link-logo {
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.link-logo-accent {
  color: var(--color-brand);
}

.header-list-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.header-list-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.header-link-nav {
  color: var(--main-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding: 32px 0;
}

.header-link-contact {
  color: var(--color-primary);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding: 32px 0;
}

.header-link-nav:hover {
  color: var(--color-brand);
}

.header-link-contact:hover {
  color: var(--color-brand);
}

.header-link-nav:focus {
  color: var(--color-brand);
}

.header-link-contact:focus {
  color: var(--color-brand);
}

.link-current {
  color: var(--color-brand);
}

/* section hero */

.hero {
  background-color: var(--color-background-secondary);
  padding: 200px 0;
}

.hero-container {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.hero-title {
  color: var(--color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-bottom: 30px;
}

/* section features */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features {
  padding-bottom: 47px;
}

.feateres-list {
  display: flex;
  gap: 30px;
  padding: 0;
}

.feateres-item {
  width: 270px;
}

.features-list-item-title {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-list-item-text {
  letter-spacing: 0.03em;
}

/* section what we doing */

.activity {
  padding-top: 47px;
}

.activity-container {
  display: flex;
  flex-direction: column;
}

.activity-title {
  margin-bottom: 50px;
}

.activity-title,
.team-title {
  color: var(--main-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.activity-list {
  display: flex;
  padding: 0;
  gap: 30px;
}

/* section our team */

.team {
  background: #f5f4fa;
}

.team-container {
  display: flex;
  flex-direction: column;
}

.team-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  padding: 0;
  gap: 30px;
}

.team-item {
  background-color: #fff;
}

.team-wrapper {
  padding: 30px 0;
}

.team-list-item-title {
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-list-item-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* footer */

.footer {
  background-color: var(--color-background-secondary);
  padding: 60px 0;
}

.footer .link-logo {
  color: var(--color-white);
}

.footer-address-list {
  margin-top: 20px;
}

.footer-address-list .link:hover {
  color: var(--color-brand);
}

.footer-address-list .link:focus {
  color: var(--color-brand);
}

.footer-address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer-link-accent {
  color: var(--color-white);
  font-style: normal;
}

/* portfolio page */

/* section portfolio */

.portfolio-container {
  flex-direction: column;
}

.portfolio-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding: 0 0 16px 0;
  gap: 8px;
}

.portfolio-btn-item:first-child {
  padding: 6px 25px;
}

.portfolio-btn-item {
  color: var(--main-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
}

.portfolio-btn-item:hover {
  color: var(--color-white);
  background-color: var(--color-brand);
}

.portfolio-btn-item:focus {
  color: var(--color-white);
  background-color: var(--color-brand);
}

.portfolio-project-item {
  width: 370px;
}

.portfolio-wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-project-title {
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-project-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  margin-top: 4px;
}
